[[source]]
name = "pypi"
url = "https://pypi.tuna.tsinghua.edu.cn/simple/"
verify_ssl = true

[dev-packages]

[packages]
django = "==2.2.18"
markdown = {index = "https://pypi.tuna.tsinghua.edu.cn/simple",version = "*"}
gunicorn = "*"

[requires]
python_version = "3.7"
